In [65]:
### Git

In [66]:
"""
Our main agenda is to upload/push to Github.

Steps before pushing 
-Git is iniatilised

    git init
-Stage our changes
    git add <argument>

    #change for notebook alone
    git add robot.ipynb

    #track all the files
    git add .
-Taking the snapshot with a label
    git commit -m 'First Commit'


-Uploading to Github
    git push origin <name of your branch>

"""

" git add remote origin <url>"

' git add remote origin <url>'

### Python File I/O
Python built in ways to opening/loading files. ( Input and Output.)

.open() is the dedicated function in python to load files.

...
Syntax:

open(filename, mode)
...

**Mode**
* 'r' --> read only
* 'w' --> write only
* 'r+' --> read and write
* 'a' --> append only(going to write new data at the end of the file without erasing existing)

In [67]:
#opening csv
import pandas as pd


pd.read_csv('./sample.csv').head()

  Abuja Berlin Cairo Durban Eldoret
0     1      2     3      4       5
1     1      2     3      4       5
2     1      2     3      4       5
3     1      2     3      4       5
4     H      A     H      A       H

In [68]:
x = open('./sample.csv', 'r')

x.read()

'Abuja,Berlin,Cairo,Durban,Eldoret\n1,2,3,4,5\n1,2,3,4,5\n1,2,3,4,5\n1,2,3,4,5\nH,A,H,A,H'

In [69]:
x.close()

## 'with'
This automatically opens and closes the file when using the open() function

In [70]:
with open('sample.csv', 'r') as f:
    print(f.read())

Abuja,Berlin,Cairo,Durban,Eldoret
1,2,3,4,5
1,2,3,4,5
1,2,3,4,5
1,2,3,4,5
H,A,H,A,H

In [71]:
import csv

with open('sample.csv') as f:
    reader = csv.DictReader(f)
    #
    for row in reader:
        print(row['Abuja'], row['Berlin'])

1 2
1 2
1 2
1 2
H A

Create a new file and write to it

In [72]:
with open('cities.txt', 'w') as f:
    f.write('Dallas | London | Nairobi')

In [73]:
with open('cities.txt', 'w') as f:
    f.write('Moscow | Paris | Toronto')

## JSON
JSON is Javascript Object Notation

In [74]:
import json

#with oopen to load json file
with open('playlist.json', 'r') as f:
    data = json.load(f)

data['playlist_name']

'My_Jams'

In [75]:
data['tracks']

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [76]:
type(data['tracks'])

list

In [77]:
#with open to load the json file
with open('playlist.json', 'r') as f:
    data = json.load(f)

data

{'playlist_name': 'My_Jams',
 'created_by': 'Chacha',
 'tracks': [{'title': 'Stan',
   'artist': 'Eminem',
   'album': 'The Marshall Mathers LP',
   'duration_sec': 405},
  {'title': 'In Da Club',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 240},
  {'title': 'Suzanna',
   'artist': 'Sauti Sol',
   'album': 'Midnight Train',
   'duration_sec': 239},
  {'title': 'Many Men',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 256},
  {'title': 'Bad Liar',
   'artist': 'Imagine Dragons',
   'album': 'Origins',
   'duration_sec': 243}]}

In [78]:
type(data)

dict

In [79]:
# with open to load the json file not recommended because string
with open('playlist.json', 'r') as f:
    dt = f.read()

dt

'{\n  "playlist_name": "My_Jams",\n  "created_by": "Chacha",\n  "tracks": [\n    {\n      "title": "Stan",\n      "artist": "Eminem",\n      "album": "The Marshall Mathers LP",\n      "duration_sec": 405\n    },\n    {\n      "title": "In Da Club",\n      "artist": "50 Cent",\n      "album": "Get Rich or Die Tryin",\n      "duration_sec": 240\n    },\n    {\n      "title": "Suzanna",\n      "artist": "Sauti Sol",\n      "album": "Midnight Train",\n      "duration_sec": 239\n    },\n    {\n      "title": "Many Men",\n      "artist": "50 Cent",\n      "album": "Get Rich or Die Tryin",\n      "duration_sec": 256\n    },\n    {\n      "title": "Bad Liar",\n      "artist": "Imagine Dragons",\n      "album": "Origins",\n      "duration_sec": 243\n    }\n  ]\n}\n'

In [80]:
type(dt)

str

## Exploring JSON
Let's check what is inside

In [81]:
data.keys()

dict_keys(['playlist_name', 'created_by', 'tracks'])

In [82]:
data.items()

dict_items([('playlist_name', 'My_Jams'), ('created_by', 'Chacha'), ('tracks', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}])])

In [83]:
data.values()

dict_values(['My_Jams', 'Chacha', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}]])

In [84]:
#accessing the third song
data['tracks'][2]['title']

'Suzanna'

In [85]:
data['tracks'][2]['title']

'Suzanna'

## Transforming JSON Schema
Here we want to transform JSON into a flatter structure which we can use for analysis

In [86]:
"""
Load  the JSON file 
iterate over the tracks and create a new dictionary from the data points

'artist':['Eminem', '50 Cent', 'Sauti Sol', 'Imagine Dragons']
"""

"\nLoad  the JSON file \niterate over the tracks and create a new dictionary from the data points\n\n'artist':['Eminem', '50 Cent', 'Sauti Sol', 'Imagine Dragons']\n"

In [87]:
tracks = data['tracks']
tracks

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [96]:
flattened_tracks = []


for track in tracks:
    flattened_tracks.append({
        'TITLE': track['title'],
        'ARTIST':track['artist'],
        # 'ALBUM': track['album'],
        # 'LENGTH OF SONG': track['duration_sec'],
        'LENGTH IN MIN' : round(track['duration_sec'] / 60 ,2)
    })

flattened_tracks

[{'TITLE': 'Stan', 'ARTIST': 'Eminem', 'LENGTH IN MIN': 6.75},
 {'TITLE': 'In Da Club', 'ARTIST': '50 Cent', 'LENGTH IN MIN': 4.0},
 {'TITLE': 'Suzanna', 'ARTIST': 'Sauti Sol', 'LENGTH IN MIN': 3.98},
 {'TITLE': 'Many Men', 'ARTIST': '50 Cent', 'LENGTH IN MIN': 4.27},
 {'TITLE': 'Bad Liar', 'ARTIST': 'Imagine Dragons', 'LENGTH IN MIN': 4.05}]

In [89]:
flattened_tracks = []


for track in tracks:
    dict_keys = list(track.keys())
    print(dict_keys)
    flattened_tracks.append({
        dict_keys[0]: track['title'],
        dict_keys[1]:track['artist'],
        dict_keys[2]: round(track['duration_sec'] / 60 ,2)
    })

df2 = pd.DataFrame(flattened_tracks)

df2.head()

['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']

        title           artist  album
0        Stan           Eminem   6.75
1  In Da Club          50 Cent   4.00
2     Suzanna        Sauti Sol   3.98
3    Many Men          50 Cent   4.27
4    Bad Liar  Imagine Dragons   4.05

In [ ]:
import pandas as pd

with open('playlist.json', 'r') as f:
    playlist = json.load(f)

#using pandas to make it a csv
df = pd.DataFrame(playlist['tracks'])
df.head()
# df.to_csv('tracks.csv', index=False)

NameError: name 'json' is not defined

In [91]:
df.describe()

       duration_sec
count      5.000000
mean     276.600000
std       72.099237
min      239.000000
25%      240.000000
50%      243.000000
75%      256.000000
max      405.000000

In [92]:
import numpy as np
np.mean(df['duration_sec'])

276.6

In [97]:
pd.DataFrame(flattened_tracks).head()

        TITLE           ARTIST  LENGTH IN MIN
0        Stan           Eminem           6.75
1  In Da Club          50 Cent           4.00
2     Suzanna        Sauti Sol           3.98
3    Many Men          50 Cent           4.27
4    Bad Liar  Imagine Dragons           4.05

In [101]:
import json
import csv

#loading the json file
with open('playlist.json', 'r') as f:
    data = json.load(f)

#creating a csv file
with open('playlist.csv', 'w', newline="") as f:
    writer = csv.DictWriter(f, fieldnames=['title', 'artist', 'album', 'duration_sec'])
    writer.writeheader()
    writer.writerows(data['tracks'])